<!DOCTYPE html>  
<html lang="en">  
  <head>
    <meta charset="utf-8">
    <title>Coverletter</title>
    <meta name="description" content="">
    <meta name="author" content="">
  </head>
  <body>
    <div class="title">  
        <%= firstname %> <%= lastname %>
    </div> 
    <div class="tofield">
    <%= toname %>
    <%= companyaddress %>
    <%= companycity %>
    <%= companystate %>
    </div>

    <div class="body">

    Hi, i'm applying for <%= positionname %> at <%= companyname%>. I found this position on <%=jobboardname %>. I have <%= yearsofexperience %> years of experience in <% industry %>.

    </div>
  </body>
</html> 